.panel {
    flex: 1 1 600px; // Increase the flex-basis value to increase width
    height: 700px; // Add this to set a height for the panels
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #000; // Add this to add a border to each panel
  }

 .input-container input {
    flex-grow: 1; // Add this to make the input boxes take up the remaining space
    margin: 10px; // Add margin to all sides
    width: 88%; // Increase the width of the input boxes to 90% of the parent container
}

.response-box {
    flex-grow: 1; // Add this to make the response boxes take up the remaining space
    border: 1px solid #000;
    padding: 0px;
    margin: 0px; // Add margin to all sides
    display: block; // Change to block to take up full width
    min-width: 200px;
    height: 92%; // Add this to increase the height of the response boxes
    overflow-y: auto; // Add this to add a vertical scrollbar when the content overflows
}
.response-box p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.chat-button {
    width: 100px; /* Adjust this value as needed */
    margin: 10px; // Add margin to all sides
}

.flex-container {
    display: flex;
    justify-content: space-between;
}